@mixin font-face($font-family, $font-weight, $font-style, $font-src) {
  @font-face {
    font-family: $font-family;
    font-weight: $font-weight;
    font-style: $font-style;
    src: $font-src;
    font-display: swap;
  }
}

@mixin oswald-black {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #000000;
}

@mixin oswald-white {
  color: #ffffff;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-style: normal;
}

@mixin lato-black {
  font-family: "Lato", "Arial", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #000000;
}

@mixin lato-dark-grey {
  font-family: "Lato", "Arial", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: $grey;
}
