.appeal__title {
  @include oswald-white;
  font-size: 36px;
  line-height: 36px;
  text-align: center;

  padding-top: 27px;
  padding-bottom: 25px;
}


.appeal__description {
  @include oswald-white;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  padding-top: 0;
  margin-bottom: 29px;
}


.appeal_picture {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: $mobile-last) {
  .appeal {
    background-image: linear-gradient(#68b738d9  302px, #ffffff 50%), linear-gradient(90deg, #444444 calc(50% - 160px), #00000000 30% 70%, #444444 calc(50% + 160px)), url("../../images/mobile/index-backgroundCat-mobile@2x.png");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-bottom: 20px;
  }
}

@media (min-width: $tablet) {
  .appeal {
    height: auto;
  }

  .appeal__title {
    @include oswald-black;
    font-size: 60px;
    line-height: 60px;

    width: 416px;
    text-align: left;

    padding-left: 90px;
    padding-top: 65px;
    padding-bottom: 40px;
  }

  .appeal__description {
    @include oswald-black;
    font-size: 20px;
    line-height: 20px;
    text-align: left;

    padding-left: 90px;
    padding-top: 0;
    padding-bottom: 21px;
    margin: 0;
  }
}

@media (min-width: $desktop) {
  .appeal__title {
    padding-top: 110px;
    width: 416px;
    height: 120px;
  }

  .appeal__description {
    padding-bottom: 52px;
  }
}
