.appeal {
  background-color: yellow;
}

.appeal__title {

  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-style: normal;
  src: url("../../fonts/oswald/oswaldregular.woff2") format("woff2");
  font-display: swap;
  font-size: 36px;
  line-height: 36px;
  color: 000000;

  text-align: center;
}

.appeal__description {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-style: normal;
  src: url("../../fonts/oswald/oswaldregular.woff2") format("woff2");
  font-display: swap;
  font-size: 20px;
  line-height: 20px;
  color: #000000;
  text-align: center;
}

.appeal__button {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-style: normal;
  src: url("../../fonts/oswald/oswaldregular.woff2") format("woff2");
  font-display: swap;
  font-size: 20px;
  line-height: 26px;
  color: #ffffff;
  text-align: center;
  background-color: #68b738;
  text-decoration: none;
}
