.button {
  @include oswald-white;
  background-color: $green;
  margin: 0 auto;
  height: 40;
  text-align: center;
  text-decoration: none;

  display: flex;
  justify-content: center;
  align-items: center;
}

.button:hover {
  background-color: #5eaa2f;
}

.button:active {
  background-color: #5eaa2f;
  color: rgba(255, 255, 255, 0.3);
}

.button--more {
  @include oswald-black;
  color: $grey;
  background-color: $basik-grey;
  margin: 0 auto;
  height: 40;
  width: 100%;
  text-align: center;
  text-decoration: none;

  display: flex;
  justify-content: center;
  align-items: center;
}

.button--more:hover {
  background-color: #ebebeb;
}

.button--more:active {
  background-color: #ebebeb;
  color: rgba(255, 255, 255, 0.3);
}

.button--appeal {
  @include oswald-white;
  background-color: $green;
  margin: 0 auto;
  height: 40;
  text-align: center;
  text-decoration: none;

  display: flex;
  justify-content: center;
  align-items: center;
}

.button--mailing {
  @include oswald-white;
  font-size: 20px;
  line-height: 26px;
  background-color: $green;
  margin: 0 auto;
  height: 56;
  width: 100%;
  text-align: center;
  text-decoration: none;

  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: $tablet) {
  .button {
    @include oswald-white;
    text-align: center;
    background-color: $green;
    align-items: center;
    width: 250px;
    height: 40px;
    text-decoration: none;
    display: flex;
    position: static;
    justify-content: center;
  }

  .button--more {
    color: $grey;
    background-color: $basik-grey;
    margin-bottom: 40px;
  }

  .button--additional {
    width: 100%;
    padding: 0;
    margin-top: 0;
  }

  .button--appeal {
    position: absolute;
    top: 370px;
    left: 120px;
    font-size: 20px;
    line-height: 26px;
    width: 244px;
    min-height: 54px;
  }

  .button--mailing {
    margin: 0;
    height: 56px;
    width: 256px;
    font-size: 20px;
    line-height: 26px;
  }

  .button--card {
    margin-bottom: 40px;
  }
}

@media (min-width: $desktop) {
  .button {
    width: 169px;
  }

  .button--more {
    width: 169px;
  }

  .button--appeal {
    width: 244px;
    min-height: 54px;
    font-size: 20px;
    line-height: 26px;
    margin: 0;
    margin-left: 80px;
    position: static;
  }

  .button--additional {
    width: 244px;
    padding: 0;
    margin-top: 0;
  }

  .button--mailing {
    width: 256px;
  }
}
