.catalog {
  /* empty */
}

.catalog__title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-style: normal;
  src: url("../../fonts/oswald/oswaldregular.woff2") format("woff2");
  font-display: swap;
  font-size: 60px;
  line-height: 60px;
  color: #000000;
}

.catalog__list {
  /* empty */
}

.catalog__item {
  background-color: #f2f2f2;
}

.catalog__item-link {
  /* empty */
}

.catalog__item-image-wrapper {
  /* empty */
}

.catalog__item-image {
  /* empty */
}

.catalog__item-title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-style: normal;
  src: url("../../fonts/oswald/oswaldregular.woff2") format("woff2");
  font-display: swap;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  text-decoration: none;
}

.catalog__item-info {
  /* empty */
}

.catalog__item-parameters {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  src: url("../../fonts/lato/Lato-Regular.woff2") format("woff2");
  font-display: swap;
  font-size: 16px;
  line-height: 20px;
  color: #444444;
}

.catalog__item-parameter-title {

  /* empty */
}

.catalog__item-parameter-value {
  /* empty */
}

.catalog__item-description {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  src: url("../../fonts/lato/Lato-Regular.woff2") format("woff2");
  font-display: swap;
  font-size: 16px;
  line-height: 18px;
  color: #444444;
}

.catalog__item-button {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-style: normal;
  src: url("../../fonts/oswald/oswaldregular.woff2") format("woff2");
  font-display: swap;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-decoration: none;
  background-color: #68b738;
  text-transform: uppercase;
}

.catalog__item-button--more {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-style: normal;
  src: url("../../fonts/oswald/oswaldregular.woff2") format("woff2");
  font-display: swap;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  text-decoration: none;
  background-color: #f2f2f2;
  text-transform: uppercase;
}


.catalog__item--more {
  /* empty */
}
