.compare {
  position: relative;
  margin: 0;
  min-width: 280px;
  min-height: 256px;
}

.compare__wrapper {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: $tablet) {
  .compare {
    min-width: 560px;
    min-height: 512px;
  }
}

@media (min-width: $desktop) {
  .compare {
    position: absolute;
    margin: 0;
    padding: 0;
    top: 0;
    right: 0;
    width: 560px;
    margin-right: 110px;
  }
}
