.container {
  padding-left: 20px;
  padding-right: 20px;
}

.container--appeal {
  margin-left: 20px;
  margin-right: 20px;
}

.container--physique {
  margin-left: 20px;
  margin-right: 20px;
}

.container--mechanism {
  padding-left: 20px;
  padding-right: 20px;
}

.container--example {
  padding-left: 20px;
  padding-right: 20px;
}

@media (min-width: $tablet) {
  .container {
    padding-left: 30px;
    padding-right: 30px;
    margin: 0;
  }

  .container--appeal {
    margin-left: 30px;
    margin-right: 30px;
  }

  .container--physique {
    margin-left: 30px;
    margin-right: 30px;
  }

  .container--mechanism {
    padding-left: 30px;
    padding-right: 30px;
  }

  .container--example {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (min-width: $desktop) {
  .container {
    padding-left: 110px;
    padding-right: 110px;
  }

  .container--appeal {
    margin-left: 110px;
    margin-right: 110px;
  }

  .container--physique {
    margin-left: 110px;
    margin-right: 110px;
    align-items: center;
    display: flex;
    justify-content: center;
  }

  .container--catalog {
    margin-left: 110px;
  }

  .container--mechanism {
    padding-left: 110px;
    padding-right: 110px;
  }

  .container--example {
    padding-left: 110px;
    padding-right: 110px;
  }
}
