.cooperation {
  /* empty */
}

.cooperation__wrapper {
  /* empty */
}

.cooperation__title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-style: normal;
  src: url("../../fonts/oswald/oswaldregular.woff2") format("woff2");
  font-display: swap;
  font-size: 20px;
  line-height: 26px;
  color: #000000;
}

.cooperation__info {
  /* empty */
}

.cooperation__info-adress {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  src: url("../../fonts/lato/Lato-Regular.woff2") format("woff2");
  font-display: swap;
  font-size: 16px;
  line-height: 20px;
  color: #444444;
  text-align: right;
}

.cooperation__info-city {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  src: url("../../fonts/lato/Lato-Regular.woff2") format("woff2");
  font-display: swap;
  font-size: 16px;
  line-height: 20px;
  color: #444444;
  text-align: right;
}

.cooperation__map {
  /* empty! */
}
