
.example {
  background-color: #eaeaea;
  padding-top: 25px;
  padding-bottom: 40px;
}

.example__title {
  @include oswald-black;
  font-size: 36px;
  line-height: 40px;
  padding-bottom: 40px;
}

.example__intro {
  @include lato-dark-grey;
  font-size: 14px;
  line-height: 18px;
  padding-bottom: 20px;
}

.example__list {
  display: flex;
  justify-content: center;
  gap: 10%;
}

.example__item {
  min-width: 124px;
  min-height: 56px;
  border: $border;
  text-align: center;
  margin-bottom: 34px;
  display: grid;
  position: relative;
  place-items: center;
}

.example__item-quantity {
  @include oswald-black;
  font-weight: 24px;
  font-size: 24px;
  line-height: 1;
}


.example__item-description {
  @include lato-dark-grey;
  font-size: 12px;
  line-height: 12px;
  background-color: #eaeaea;
  width: 50%;
  position: absolute;
  bottom: -13px;
}

.example__item-expenses {
  @include oswald-black;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2px;
  padding-bottom: 20px;
}

.example__image-wrapper {
  position: relative;
  width: 280px;
  height: 256px;
}

@media (min-width: $tablet) {
  .example {
    background-image: linear-gradient(#ffffff 613px, hwb(0 0% 100% / 0) 0);
    padding-bottom: 101px;
    padding-top: 45px;
  }

  .example__title {
    font-size: 60px;
    line-height: 60px;
    padding-bottom: 60px;
  }

  .example__intro {
    font-size: 16px;
    line-height: 24px;
    padding-bottom: 55px;
  }

  .example__list {
    flex-wrap: wrap;
    justify-content: center;
    gap: 43px;
    display: ruby;
  }

  .example__item-quantity {
    font-size: 30px;
    line-height: 37px;
    padding-bottom: 5px;
  }


  .example__item-description {
    font-size: 14px;
    line-height: 14px;
    min-width: 125px;
    bottom: -5px;
    background-color: #ffffff;
  }


  .example__item-expenses {
    font-size: 20px;
    line-height: 20px;
    display: flex;
    align-items: right;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 12px;
    text-align: right;
    gap: 9px;
  }

  .example__list-wrapper {
    display: flex;
    justify-content: space-between;
    padding-bottom: 66px;
  }

  .example__item {
    width: 162px;
    height: 72px;
    margin-right: 38px;
  }
}


@media (min-width: $desktop) {
  .example {
    padding-bottom: 75px;
    background-image: linear-gradient(#ffffff 136px, $basik-grey 0);
    padding-top: 0;
  }

  .example__title {
    padding-bottom: 76px;
    padding-top: 0;
  }

  .example__intro {
    padding-top: 70px;
    padding-bottom: 69px;
    width: 436px;
    min-height: 96px;
  }

  .example__list-wrapper {
    display: flex;
    flex-direction: column;
    align-items: left;
    padding-bottom: 0;
  }

  .example__list {
    padding-bottom: 0;
    margin-bottom: 0;
    height: 77px;
  }

  .example__item {
    margin-bottom: 0;
    margin-right: 35px;
    border-radius: 5px;
  }

  .example__item-quantity {
    padding-bottom: 7px;
    min-width: 37px;
  }

  .example__item-description {
    min-width: 125px;
    min-height: 14px;
    bottom: -4px;
    background-color: $basik-grey;
  }

  .example__item-expenses {
    min-width: 327px;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: left;
    padding: 0;
    padding-top: 55px;
    gap: 63px;
  }

  .example__item-expenses p {
    min-width: 174px;
    text-align: left;
    height: auto;
  }
}
