.mailing {
  padding-bottom: 40px;
}

.mailing__title {
  @include oswald-black;
  font-size: 24px;
  line-height: 24px;
  text-decoration: none;
  padding-top: 40px;
  padding-bottom: 32px;
}

.mailing__text {
  @include oswald-black;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
  text-align: center;
  padding-bottom: 24px;
}

.mailing-button {
  @include oswald-white;
  background-color: $green;
  margin: 0 auto;
  height: 40;
  text-align: center;
  text-decoration: none;

  display: flex;
  justify-content: center;
  align-items: center;
}

.mailing__form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mailing__form-email {
  @include oswald-black;
  width: 280px;
  color: $grey;
  margin: 0 auto;
  height: 56px;
  text-align: center;
  text-decoration: none;
  margin-bottom: 16px;
  text-transform: uppercase;
  border: 1 solid $grey;
}


@media (min-width: $tablet) {
  .mailing__title {
    font-size: 32px;
    line-height: 32px;
    padding-top: 80px;
    padding-bottom: 66px;
  }

  .mailing__text {
    font-size: 24px;
    line-height: 32px;
  }

  .mailing__container {
    width: 632px;
    min-height: 144px;
    margin: 0 auto;
  }

  .mailing__form-wrapper {
    display: inline-flex;
  }

  .mailing__form-email {
    @include oswald-black;
    width: 376px;
    color: $grey;
    margin: 0 auto;
    height: 55px;
    text-align: center;
    text-decoration: none;
    margin-bottom: 16px;
    text-transform: uppercase;
    border: 1 solid $grey;
  }
}
