.main-nav__menu {
  display: none;
}

.main-nav--opened {
  .main-nav__list {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .main-nav__menu {
    width: 100%;
    display: block;
  }

  .main-nav__item {
    display: flex;
    justify-content: center;
    padding-top: 22px;
    padding-bottom: 24px;
    border-top: $border;
  }

  .main-nav__item a {
    @include oswald-black;
    font-size: 20px;
    text-decoration: none;
  }
}

.main-nav__item:hover {
  opacity: 60%;
}

.main-nav__item:active {
  opacity: 30%;
}

.main-nav__toggle {
  position: absolute;
  top: 24px;
  right: 21;
  z-index: 2;
  width: 24px;
  height: 24px;
  background-color: #ffffff;
  cursor: pointer;
  border: none;
}

.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 24px;
  height: 2px;
  background-color: #000000;
  box-shadow: 0 6px 0 0 #000000, 0 12px 0 0 #000000;
}

.main-nav--opened .main-nav__toggle {
  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 3;
    top: 10px;
    width: 18px;
    height: 2px;
    background-color: #000000;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }
}


@media (min-width: $tablet) {
  .main-nav__wrapper {
    display: flex;
    justify-content: space-between;
    width: 436px;
    margin: 0 auto;
  }

  .main-nav__toggle {
    display: none;
  }

  .main-nav__menu {
    display: block;
  }

  .main-nav--opened .main-nav__item {
    border-top: none;
  }

  .main-nav__list {
    height: 32px;
    margin-bottom: 5px;
    display: flex;
    list-style: none;
    min-width: 436px;
    gap: 33px;
    padding-bottom: 0;
    padding-right: 4px;
  }

  .main-nav__item a {
    @include oswald-black;
    font-size: 18px;
    line-height: 24px;
    text-decoration: none;
  }

  .main-nav__item--active {
    padding-bottom: 33px;
    border-bottom: 2px solid $green;
  }
}

@media (min-width: $desktop) {
  .main-nav__wrapper {
    width: 475px;
    padding-left: 110px;
    padding-right: 110px;
  }

  .main-nav__list {
    margin-bottom: 11;
  }

  .main-nav__item a {
    font-size: 20px;
    line-height: 30px;
  }

  .main-nav__item--active {
    padding-bottom: 36px;
  }

  .main-nav__list--desktop a {
    @include oswald-white;
  }

  .main-nav__item--active--desktop {
    border-bottom: 2px solid #ffffff;
  }
}


.main-nav--nojs {
  .main-nav__list {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .main-nav__menu {
    width: 100%;
    display: block;
  }

  .main-nav__item {
    display: flex;
    justify-content: center;
    padding-top: 22px;
    padding-bottom: 24px;
    border-top: $border;
  }

  .main-nav__item a {
    @include oswald-black;
    font-size: 20px;
    text-decoration: none;
  }

  .main-nav__toggle {
    display: none;
  }
}
