.main-nav {
  /* empty */
}

.main-nav__toogle {
  /* empty */
}

.main-nav__wrapper {
  /* empty */
}

.main-nav__list {
  /* empty */
}

.main-nav__menu {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-style: normal;
  src: url("../../fonts/oswald/oswaldregular.woff2") format("woff2");
  font-display: swap;
  font-size: 20px;
  line-height: 30px;
  color: #000000;
  text-decoration: none;
}

.main-nav__item {
  /* empty */
}

.main-nav__item--active {
  /* empty */
}
