.main-header {
  width: auto;
  border-bottom: $border-bottom;
  position: relative;
}

.main-header__logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(50% + 60px);
}

.main-header__logo:hover {
  opacity: 80%;
}

.main-header__active:hover {
  opacity: 30%;
}

.main-header__wrapper {
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}


@media (min-width: $tablet) {
  .main-header {
    align-items: center;
    padding-top: 25px;
    border: none;
  }

  .main-header__wrapper {
    padding-left: 30px;
    padding-right: 30px;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .main-header__logo {
    gap: 13px;
    justify-content: flex-start;
  }

  .main-nav__wrapper {
    display: flex;
    width: auto;
  }

  .main-nav__toggle {
    display: none;
  }

  .main-nav__list {
    display: flex;
    list-style: none;
    min-width: 436px;
    gap: 22px;
    margin: 0;
    padding: 0;
  }

  .main-nav__item a {
    @include oswald-black;
    font-size: 18px;
    line-height: 24px;
    text-decoration: none;
  }

  .main-nav__item--active {
    padding-bottom: 8px;
    border-bottom: 2px solid $green;
  }
}

@media (min-width: $desktop) {
  .main-header {
    padding-top: 55px;
    padding-bottom: 0;
  }

  .main-header__wrapper {
    padding: 0;
  }

  .main-nav__wrapper {
    width: 475px;
    padding-left: 110px;
    padding-right: 110px;
  }

  .main-nav__item a {
    font-size: 20px;
    line-height: 30px;
  }
}
