.main-header {
  width: auto;
  border-bottom: $border-bottom;
  position: relative;
}

.main-header__logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(50% + 50px);

  @media (min-width: $tablet) {
    gap: 13px;
    width: auto;
    justify-content: left;
  }
}


@media (min-width: $tablet) {
  .main-nav__wrapper {
    display: flex;
    justify-content: space-between;
    width: 436px;
    margin: 0 auto;
  }

  .main-nav__toggle {
    display: none;
  }
}

@media (min-width: $desktop) {
  .main-nav__wrapper {
    width: 475px;
  }
}


.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

@media (min-width: $tablet) {
  .main-nav__list {
    width: 33px;
  }
}
