
.mechanism {
  padding-bottom: 49px;
}

.machanism__wrapper {
  padding-left: 20px;
  padding-top: 20px;
}

.mechanism__title {
  @include oswald-black;
  font-size: 36px;
  line-height: 40px;
  padding-bottom: 20px;
}

.mechanism__list {
  list-style: none;
  padding: 0;
}


.mechanism__item {
  @include lato-dark-grey;
  font-size: 14px;
  line-height: 18px;
  min-height: 60px;
  background-size: 60px 60px;
  background-repeat: no-repeat;
  padding-left: 80px;
  margin-top: 20px;
  min-width: 200px;
}

.mechanism__item-1 {
  background-image: url("../../icons/icon-leaf.svg");
}

.mechanism__item-2 {
  background-image: url("../../icons/icon-glass.svg");
}

.mechanism__item-3 {
  background-image: url("../../icons/icon-dinnerware.svg");
}

.mechanism__item-4 {
  background-image: url("../../icons/icon-clock.svg");
}


@media (min-width: $tablet) {
  .mechanism {
    padding-bottom: 0;
    border-bottom: $border;
    margin-bottom: 0;
  }

  .mechanism__title {
    font-size: 60px;
    line-height: 60px;
    padding-bottom: 72px;
    padding-left: 30px;
  }

  .mechanism__list {
    display: grid;
    align-items: center;
    flex-wrap: wrap;
    counter-reset: ol 0;
    grid-template-columns: repeat(auto-fill, 280px);
    grid-template-rows: auto 1fr auto;
    grid-gap: 37px 103px;
  }

  .mechanism__item {
    font-size: 16px;
    line-height: 24px;
    background-position: 0 0;
    background-size: 80px 80px;
    width: 230px;
    height: 72px;
    margin-right: 0;
    margin-top: 0;
    padding: 0;
    padding-top: 110px;
    padding-bottom: 98px;
    position: relative;
  }

  .mechanism__item::after {
    @include oswald-black;
    color: $basik-grey;
    font-size: 280px;
    line-height: 280px;
    counter-increment: ol 1;
    content: counter(ol);
    font-family: "Oswald", sans-serif;
    position: absolute;
    top: -40;
    left: 50%;
    z-index: -1;
  }
}

@media (min-width: $desktop) {
  .mechanism {
    padding-bottom: 29px;
    border: none;
  }

  .mechanism__title {
    padding-left: 110px;
  }

  .mechanism__list {
    grid-template-columns: repeat(auto-fill, 230px);
    grid-gap: 0 95px;
  }
}

