

.physique__title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-style: normal;
  src: url("../../fonts/oswald/oswaldregular.woff2") format("woff2");
  font-display: swap;
  font-size: 24px;
  line-height: 37px;
  color: #000000;
}

.physique__description {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  src: url("../../fonts/lato/Lato-Regular.woff2") format("woff2");
  font-display: swap;
  font-size: 14px;
  line-height: 18px;
  color: $grey;
}

.physique__transition {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-style: normal;
  src: url("../../fonts/oswald/oswaldregular.woff2") format("woff2");
  font-display: swap;
  font-size: 16px;
  line-height: 16px;
  color: #000000;
  text-decoration: none;
}

.physique__title::before {
  content: "";
  background-image: url("../../icons/cat-sitting.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 50px;
  height: 53px;
  display: block;
}

@media (min-width: $tablet) {
  .physique__title::before {
    width: 200px;
    height: 211px;
  }
}

@media (min-width: $desktop) {
  .physique__title::before {
    width: 100px;
    height: 106px;
  }
}

.physique__transition::after {
  content: "";
  background-image: url("../../icons/arrow.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 24px;
  height: 12px;
  display: block;
}
